{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ name }}</h1>

    Here are all your products:
    <ul>
        {% for product in products %}
           <li>{{ product.name }}: ${{ product.price }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
